.login-box{
    padding:20rpx 60rpx;
    background-color: #FFF;
    .close-login-icon{
        width:40rpx;
        height:40rpx;
    }
    .logo-icon{
        width:200rpx;
        height:200rpx;
        display: block;
        margin: 60rpx auto;
    }
    .login-passcode{
        width:50rpx;
        height:50rpx;
    }
    .login-passlock{
        width:50rpx;
        height:50rpx;
    }
    .login-eyes-open, .login-eyes-clone{
        width:50rpx;
        height:50rpx;
    }
    .login-type{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 40rpx;
        .login-type-title{
            width: 50%;
            text-align: center;
            color: #808080;
            font-size:30rpx;
            position: relative;
            display: inline-block;
        }
        .login-type-title-left{
            border-right: 1rpx solid #E5E5E5;
        }
        .login-active::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 20%;
            height: 10rpx;
            background-color: #0099FF;
            left: 50%;
            bottom: -15rpx;
            transform: translateX(-50%);
            border-radius: 20%;
        }
        
    }
    .login-form{
        padding: 60rpx 40rpx 0;
        .login-form-item{
            position: relative;
            margin-bottom: 40rpx;
            .login-phone-icon{
                width:50rpx;
                height:50rpx;
                position: absolute;
                left: 0;
                top: 10rpx;
                display: block;
            }
            .input-item-text{
                position: relative;
                color: #000;
                border: 0;
                border-bottom: 1px solid #BFBFBF;
                padding-left: 0.5rem;
                font-size: 0.28rem;
                margin-top: 0rem;
                border-radius: 0;
                margin-bottom: 0;
            }
        }
    }
}
