
page{
  background-color: #f7f7f7;
}
.record-work-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .record-work-head{
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    background-color: white;
    .record-work-head-table{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 100px;
      box-shadow: 1px 4px 10px 0px rgba(110, 110, 111, 0.05);
      font-size:30px;
      .record-work-checked{
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 5px solid #0099FF;
        color: #0099FF;
        position: relative;
        &::after{
          content: '';
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #0099FF;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      };
      View{
        margin-right: 20px;
      }
    }
    .record-work-head-date{
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: #333333;
      .record-work-head-choose-date{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .record-work-date{
          text-align: end;
          margin-right: 10px;
        }
      }
      Image{
        width: 20px;
      }
    }
  }
  .record-work-check-person{
    margin-top: 20px;
    height: 45%;
    background-color: white;
    padding: 0px 6rpx 0px 30rpx;
    .record-work-person-head{
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;;
      .record-work-person-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 30px;
        padding-right: 24px;
        View:first-child{
          font-weight: 500;
          Text{
            color:#5B80FB
          }
        }
        View:last-child{
          color:#5B80FB
        }
      }
      .record-work-person-disc{
        font-size: 26px;
        color: #808080;
      }
    }
    .record-work-person-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .record-work-person-item{
        width: 80px;
        height: 120px;
        position: relative;
        font-size: 26px;
        margin-top: 20px;
        margin-right: 24px;
        .record-work-person-box{
          position: relative;
          display: flex;
          height: 80px;
          width: 80px;
          background-color: #5B80FB;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
          border-radius: 5px;
          .choose-image{
            width: 50%;
            height: 50%;
            position: absolute;
          }
          .recorded-image{
            width: 100%;
            position: absolute;
            bottom: -1px;
            &::after{
              content: "已记";
              font-size: 19px;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: #18A2FE;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
        .choose-box{
          border: 4px solid #FF7777;
          opacity: .7;
        }
        .recorded-box{
          background-color: #FFAB47;
        }
        Text{
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: 0px;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .record-work-person-add{
        width: 80px;
        height: 120px;
        position: relative;
        font-size: 26px;
        margin-top: 20px;
        margin-right: 24px;
        .record-work-person-box{
          position: relative;
          display: flex;
          height: 80px;
          width: 80px;
          background: #E6E6E6;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
          border-radius: 5px;
          Image{
            width: 50%;
            height: 50%;
            position: absolute;
          }
        }
        Text{
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: 0px;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .record-work-person-del{
        width: 80px;
        height: 120px;
        position: relative;
        font-size: 26px;
        margin-top: 20px;
        margin-right: 24px;
        .record-work-person-box{
          position: relative;
          display: flex;
          height: 80px;
          width: 80px;
          background: #E6E6E6;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
          border-radius: 5px;
          Image{
            width: 50%;
            height: 50%;
            position: absolute;
          }
        }
        Text{
          display: inline-block;
          width: 100%;
          position: absolute;
          bottom: 0px;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  .record-work-table-content{
    background-color: white;
    flex: 1;
    margin-top: 20px;
    .record-work-table-head{
      height: 100px;
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .record-work-table-left{
        position:relative;
        height: 80px;
        width: 50%;
        overflow:hidden;
        &::before{
          content:'';
          display:block;
          position:absolute;
          top:0;
          bottom:0;
          right:0;
          width: 100%;
          background-color:#E3F4FF;
          transform-origin:0 100%;
          transform:skewX(10deg);
        }
        Text{
          position: absolute;
          transform: translateY(-50%) translateX(-50%);
          left: 50%;
          top: 50%;
        }
      }
      .record-work-table-right{
        position:relative;
        height: 80px;
        width: 50%;
        overflow:hidden;
        &::before{
          content:'';
          display:block;
          position:absolute;
          top:0;
          bottom:0;
          right:0;
          width: 100%;
          transform-origin:100% 0;
          transform:skewX(10deg);
        }
        Text{
          position: absolute;
          transform: translateY(-50%) translateX(-50%);
          left: 50%;
          top: 50%;
        }
      }
    }
    .record-work-flow{
      padding: 0 30px;
    }
  }

}