// @import '@/styles/common.scss';


page{
  background-color: #f7f7f7;
}
.record-work-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .record-work-head{
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    background-color: white;
  }
  .record-work-swiper{
    height: calc(100vh - 100px);
    .record-work-head-date{
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #333333;
      font-weight: 500;
      padding: 0 30px;
      background-color: white;
      .record-work-head-choose-date{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .record-work-date{
          text-align: end;
          margin-right: 20px;
        }
      }
      Image{
        width: 20px;
      }
    }
  }
  .record-work-scroll{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    .record-work-check-person{
      margin-top: 20px;
      height: 45%;
      background-color: white;
      padding: 0px 6rpx 50px 30rpx;
      .record-work-person-head{
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;;
        .record-work-person-title{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 30px;
          padding-right: 24px;
          View:first-child{
            font-weight: bold;
            Text{
              color:#5B80FB
            }
          }
          View:last-child{
            color:#5B80FB
          }
        }
        .record-work-person-disc{
          font-size: 26px;
          color: #808080;
        }
      }
      .record-work-person-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .record-work-person-item{
          width: 80px;
          height: 120px;
          position: relative;
          font-size: 26px;
          margin-top: 20px;
          margin-right: 24px;
          .record-work-person-box{
            position: relative;
            display: flex;
            height: 80px;
            width: 80px;
            background-color: #5B80FB;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            border-radius: 5px;
            .recorded-image{
              position: absolute;
              width: 100%;
              bottom: 0;
              &::after{
                content:"已记";
                position: absolute;
                bottom: 5px;
                color: #18A2FE;
                left: 50%;
                transform: translateX(-50%);
                font-size: 19px;
              }
            }
            .choose-image{
              width: 50%;
              height: 50%;
              position: absolute;
            }
          }
          .choose-box{
            border: 2px solid #FF7777;
            opacity: .7;
          }
          .recorded-box{
            background: #FFAB47;
          }
          Text{
            display: inline-block;
            width: 100%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .record-work-person-add{
          width: 80px;
          height: 120px;
          position: relative;
          font-size: 26px;
          margin-top: 20px;
          margin-right: 24px;
          .record-work-person-box{
            position: relative;
            display: flex;
            height: 80px;
            width: 80px;
            background: #E6E6E6;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            border-radius: 5px;
            Image{
              width: 50%;
              height: 50%;
              position: absolute;
            }
          }
          Text{
            display: inline-block;
            width: 100%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .record-work-person-del{
          width: 80px;
          height: 120px;
          position: relative;
          font-size: 26px;
          margin-top: 20px;
          margin-right: 24px;
          .record-work-person-box{
            position: relative;
            display: flex;
            height: 80px;
            width: 80px;
            background: #E6E6E6;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            border-radius: 5px;
            Image{
              width: 50%;
              height: 50%;
              position: absolute;
            }
          }
          Text{
            display: inline-block;
            width: 100%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
    .record-work-table-content{
      background-color: white;
      flex: 1;
      margin-top: 20px;
      .record-work-table-head{
        height: 100px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .record-work-table-left{
          position:relative;
          height: 80px;
          width: 50%;
          overflow:hidden;
          &::before{
            content:'';
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            width: 100%;
            background-color:#E3F4FF;
            transform-origin:0 100%;
            transform:skewX(10deg);
          }
          Text{
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            top: 50%;
          }
        }
        .record-work-table-right{
          position:relative;
          height: 80px;
          width: 50%;
          overflow:hidden;
          &::before{
            content:'';
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            width: 100%;
            transform-origin:100% 0;
            transform:skewX(10deg);
          }
          Text{
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            top: 50%;
          }
        }
      }
     
    }
  }
}