.person-record-component{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 40px;
    font-size: 26px;
    color: #39ADFF;
    text-align: center;
    .person-record-component-item{
        padding-left: 24px;
        padding-right: 24px;
        line-height: 60px;
        background-color: #EEF8FF;
        border-radius: 30px;
        margin-right: 26px;
    }
}