
.picker-over-time {
  .picker-bar-children {
    font-size: 28px;
    color: #8E8E8E;

    Text {
      color: #FF3A31;
    }
  }

  .no-over {
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 -9px 9px 0 rgba(109, 109, 109, 0.06);

    .no-over-item {
      width: 268px;
      height: 72px;
      line-height: 72px;
      text-align: center;
      background: #EDEDED;
      border-radius: 6px;
      font-size: 26px;
      color: #515151;

    }
  }
}
