.picker-bar {
  width: 100%;
  height: 82px;
  background: #F8F4F4;
  position: relative;
  padding: 25px;

  .bar-left {
    position: absolute;
    left: 30px;
  }

  .bar-right {
    position: absolute;
    right: 30px;
    top: 12px;
  }

  .bar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 500;
    color: #515151;

  }

  .bar-close {
    width: 22px;
    height: 22px;
  }

  .bar-confirm {
    font-size: 27px;
    color: #0099FF;
  }
}
