@import "src/styles/common";

.remember {
  width: 100%;
  min-height: 100vh;
  background: #FAFAFA;
  position: relative;

  .container {
    padding: 22px 26px 156px 26px;

    .header {
      width: 100%;
      height: 132px;
      background: #FFFFFF;
      box-shadow: 0 0 23px 0 rgba(110, 110, 110, 0.09);
      border-radius: 8px;
      padding-right: 37px;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      .header-tag {
        width: 46px;
        height: 132px;
        margin-right: 30px;
        background: $color; //#FFA13C
        border-radius: 8px 0 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .tag-text {
          width: 25px;
          font-size: 26px;
          color: #FFFFFF;
          line-height: 1.2;
        }
      }

      .header-tag-group {
        background: #FFA13C;
      }


      .header-title {
        width: 426px;
        font-size: 30px;
        font-weight: bold;
        color: #333333;
        text-align: left;
      }

      .header-line {
        width: 2px;
        height: 80px;
        background: #E5E5E5;
        margin-left: 45px;
        margin-right: 38px;
      }

      .header-switch {
        width: 80px;
        font-size: 26px;
        color: #808080;
        text-align: center;
        white-space: normal;
        display: flex;
        flex-direction: column;

      }
    }

    .body {
      width: 100%;


      .body-container {

        .index-top-box{
          position: relative;
          background: #FFF;
          box-shadow: 0 0 18px 0 rgba(110, 110, 110, 0.12);
          border-radius: 10px;
          padding: 40px 0px 30px;
        }

        .feat {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 30px;
          padding: 0 30px;

          .date {
            display: flex;
            align-items: center;

            .date-icon-bor {
              width: 40px;
              height: 35px;
              display: flex;
              align-items: center;
            }

            .date-icon-bor-left {
              justify-content: flex-start;
            }

            .date-icon-bor-right {
              justify-content: flex-end;
            }

            .date-value {
              font-size: 32px;
              color: #333333;
              margin: 0 10px;
            }

            .date-icon {
              width: 25px;
              height: 25px;
            }

          }

          .filter-btn {
            font-size: 30px;
            color: #333333;

            .filter-icon {
              width: 30px;
              height: 30px;
              vertical-align: middle;
              margin-right: 7px;
              margin-top: -4px;
            }
          }

          .filter-btn-active {
            color: $color;
          }

          .filter-start-end-date {
            font-size: 30px;
            color: #333333;

            .filter-start-date {
              margin-bottom: 5px;
            }
          }
        }

        .filter-feat {
          margin-bottom: 20px;
        }

        .filter-line {
          width: 630px;
          height: 1px;
          background-color: rgba(229, 229, 229, .9);
          margin: 0 auto 10px auto;
        }

        .filter-info {
          font-size: 26px;
          color: #666666;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 40px;
          padding: 0 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .filter-info-box {
            display: flex;
            align-items: center;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .business-type-item {
              margin-left: 6px;
            }

            .business-type-item-last {
              margin-left: 0;
            }

            .filter-info-blue {
              color: $color;
            }

            .filter-info-line {
              //width: 2px;
              //height: 24px;
              //background: #808080;
              color: #808080;
              margin: 0 15px;
            }
          }

          .filter-info-arrow {
            width: 14px;
            height: 24px;
          }
        }

        .statistics {
          width: 100%;
          margin-bottom: 20px;
          padding: 0 30px;

          .statistics-title {
            font-size: 30px;
            color: #333333;
            margin-bottom: 30px;
          }

          .statistics-icon {
            width: 52px;
            height: 52px;
            margin-right: 25px;
          }

          .statistics-remember {
            .remember-row {
              width: 100%;
              height: 130px;
              background: #F2FAFF;
              border-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 26px;

              .remember-content {
                display: flex;
                align-items: center;
              }

              .remember-values {
                display: flex;
                flex-direction: column;

                .remember-value {

                  .remember-value-text {
                    font-size: 30px;
                    font-weight: 500;
                    color: #333333;
                  }

                  .remember-value-text:first-child {
                    font-size: 26px;
                    color: #808080;
                    margin-right: 22px;
                  }
                }
              }
            }
          }

          .statistics-bookkeeping {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .bookkeeping-row {
              width: 307px;
              height: 130px;
              background: #FFFAF6;
              border-radius: 6px;
              padding-left: 26px;
              display: flex;
              align-items: center;

              .bookkeeping-content {
                display: flex;
                align-items: center;

                .bookkeeping-values {
                  display: flex;
                  flex-direction: column;
                  width: 205rpx;

                  .bookkeeping-label {
                    font-size: 26px;
                    color: #808080;
                    margin-bottom: 10px;
                  }

                  .bookkeeping-value {
                    width: 100%;
                    font-size: 30px;
                    font-weight: 500;
                    color: #333333;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }
                }
              }
            }

            .wage-meter {
              background: #F2FAFF;
            }
          }

          .statistics-bookkeeping-unit {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .bookkeeping-row {
              margin-top: 30px;

              &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
              }
            }
          }


        }
        .account_count_box{margin-top: 40px;}

        .statistics-flow {
          width: 100%;
          margin: 20px 0 40px;
          background: #FFF;
          box-shadow: 0 0 18px 0 rgba(110, 110, 110, 0.12);
          border-radius: 10px;
          padding: 40px 0px 30px;


          .statistics-title {
            font-size: 30px;
            color: #333333;
            margin-bottom: 30px;
            padding: 0 30px;

            .flow-list-filter-title {
              color: #0099FF;
            }
          }

          .bokkeeping-list {
            .bokkeeping-list-head {
              height: 70px;
              width: 100%;
              background: #F2FAFF;
              font-size: 28px;
              font-weight: 400;
              color: #22A9FC;
              line-height: 70px;
              padding: 0 30px;
            }

            .bokkeeping-list-content {

              .bokkeeping-list-content-line {
                border-bottom: 1px solid rgba(229, 229, 229, .9);
                &:last-child {
                  border: none;
                }
              }
            }

          }
        }
      }
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 126px;
      background: #FFFFFF;
      box-shadow: 0 0 18px 0 rgba(110, 110, 110, 0.12);
      border-radius: 10px;

      .footer-container {
        padding:0 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .footer-tabbar{
          position: relative;
          @include flex();
        }
        .feedback {
          font-size: 26px;
          color: #666666;
          display: flex;
          align-items: center;
          flex-direction: column;

          .feedback-icon {
            width: 36px;
            height: 36px;
            display: block;
            margin-right: 15px;
            margin-bottom: 10px;
          }
        }

        .footer-buttons {

          .footer-button-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .footer-button {
            width: 170px;
            height: 80px;
            line-height: 80px;
            border-radius: 40px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;

          }

          .footer-button-bookkeeping {
            border: 1PX solid #3188FE;
            color: #3188FE;
            margin-right: 26px;
          }

          .footer-button-remember {
            background: #3188FE;
            color: #fff;
          }

          .exit-filter {
            width: 200px;
            height: 80px;
            background: #FF5C64;
            color: #fff;
          }
        }
      }
    }
  }

  .mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }
}

.stop-move {
  height: 100vh;
  overflow: hidden;
}
