.person-record-btn{
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    width: 100%;
    padding:0 26px;
    padding-bottom: 40px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    z-index: 10;
    .person-record-save{
      &::after{
        border: none;
      }
    }
    .person-record-resave{
        margin: 0;
        margin-right: 30px;
        padding: 0 31px;
        width: 200px;
        background-color: #fff;
        color: #F55F5F;
        border: 1px solid #F55F5F;
        line-height: 90px;
        border-radius: 5px;
        font-size: 32px;
    }
    .person-record-save{
        width: 100%;
        margin: 0;
        padding: 0 70px;
        background-color: #0099FF;
        color: #fff;
        border: none;
        line-height: 90px;
        font-size: 32px;
        border-radius: 5px;
    }
}
.person-record-time{
    margin-left: 40px;
    margin-top: 40px; 
    padding-bottom: 40px;
    border-bottom: 5px solid #E5E5E5;
}