@import '@/components/flow/work_count_day/index.scss';

.bokkeeping-list-count{
  margin-right: 15px;
  max-width: 200px;
  .bokkeeping-list-money-text{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color:red !important;
    }
}