.person-record-component{
        display: flex;
        margin-top: 50px;
        margin-left: 40px;
        font-size: 26px;
        color: #39ADFF;
        text-align: center;
        .person-record-component-item{
            padding-left: 24px;
            padding-right: 24px;
            line-height: 60px;
            background-color: #EEF8FF;
            border-radius: 30px;
            margin-right: 26px;
        }
    }
.person-record-btn{
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    z-index: 100;
    .person-record-save{
      &::after{
        border: none;
      }
    }
    .person-record-save{
        width: 710px;
        height: 92px;
        margin: 0;
        padding: 0 70px;
        background-color: #0099FF;
        color: #fff;
        border: none;
    }
}
.person-record-time{
  margin-left: 40px;
  padding-bottom: 40px;
  border-bottom: 5px solid #E5E5E5;
}