@import '@/styles/record.scss';
.person-record-date-img{
  margin-top: 6px;
}
.person-record-note .person-record-date-textarea{
  min-height: 44px;
  line-height: 45px;
  padding-top: 0;
  overflow-y: scroll;
  max-height: 225px;
}
.person-record-note{
  align-items: flex-start;
}