@import '@/styles/record.scss';
.person-record-date-img{
  margin-top: 6px;
}
.person-record-note .person-record-date-textarea{
  height: 40px;
  padding-top: 0;
  overflow-y: hidden;
}
.person-record-note{
  align-items: flex-start;
}