@import '@/styles/common.scss';

.empty-container{
  position: relative;
  width: 100%;
  height: 500px;
  @include flex(column);
  .empty-image{
    width: 400px;
    height: 280px;
  }
  .empty-text{
    font-size: 26px;
    line-height: 50px;
    color: #666;
    margin-top: 30px;
  }
}