
.person-record{
    position: relative;
    background-color: #fff;
    .person-record-top{
        display: flex;
        padding-left: 40px;
        border-bottom: 1px solid #E5E5E5;
        .person-record-top-item{
            position: relative;
            margin-right: 53px;
            padding-bottom: 6px;
            font-size: 30px;
            color: #666666;
            line-height: 72px;
        }
        .record-active{
            color: #0099FF;
        }
        .record-active::before{
            content: '';
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom: 8px solid #0099FF;
            position: absolute;
            bottom: 6px;
            left: 50%;
            transform: translateX(-50%);
        }
        .record-active::after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 6px;
            background-color: #0099FF;
        }
    }
    .person-record-time{
        margin-left: 40px;
        margin-top: 40px; 
        padding-bottom: 25px;
        border-bottom: 1px solid #E5E5E5;
        .person-record-worktime{
            display: flex;
            align-items: center;
            .worktime-text{
                font-weight: 600;
                font-size: 30px;
                color: #666666;
                margin-right: 26px;
            }
            .worktime{
                width: 120px;
                margin-right: 18px;
                color: #808080;
                font-size: 26px;
                line-height: 60px;
                text-align: center;
                background-color: #EDEDED;
                border-radius: 6px;
            }
            .worktime-active{
                color: #FFFFFF;
                background-color: #0099FF;
            }
            .worktime-select{
                padding-right: 22px;
            }
            .worktime-select-time{
                position: relative;
            }
            .worktime-select-time::before{
                content: '';
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-bottom: 8px solid #666666;
                position: absolute;
                bottom: 47%;
                right: -20px;
            }
            .worktime-select-time::after{
                content: '';
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top: 8px solid #666666;
                position: absolute;
                bottom: -17%;
                right: -20px;
            }
            .worktime-active .worktime-select-time::before{
                border-bottom-color: #fff;
            }
            .worktime-active .worktime-select-time::after{
                border-top-color: #fff;
            }
        }
    }
    .person-record-overtime{
        position: relative;
        margin-top: 25px;
        margin-right: 40px;
        .overtime-icon{
            transform: scale(1.5);
            width: 22px;
            height: 22px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -11px;
        }
        .overtime-icon::before,
        .overtime-icon::after{
            content: "";
            position: absolute;  /*方便进行定位*/
            height: 22px;
            width: 1.5px;
            top: 2px;
            right: 12px;
            background: #808080;
        }
        .overtime-icon::before{
          transform: rotate(45deg);
        }
        .overtime-icon::after{
          transform: rotate(-45deg);
        }
    }
    .person-record-date-img{
        width: 26px;
        height: 30px;
        margin-right: 19px;
    }
    .person-record-date{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 80px;
        margin-left: 40px;
        .person-record-date-title{
            width: 100px;
            font-size: 30px;
            color: #999999;
        }
        .person-record-date-text{
            font-size: 30px;
            color: #333333;
        }
        .person-record-date-day{
            color: #6B9D00;
        }
    }
    .person-record-team{
    }
    .person-record-note{
        align-items: initial;
        .person-record-date-textarea{
            width: 540px;
            max-height: 150px;
        }
    }
    .person-record-component{
        display: flex;
        margin-top: 80px;
        margin-left: 40px;
        font-size: 26px;
        color: #39ADFF;
        text-align: center;
        .person-record-component-item{
            padding-left: 24px;
            padding-right: 24px;
            line-height: 60px;
            background-color: #EEF8FF;
            border-radius: 30px;
            margin-right: 26px;
        }
    }
    .person-record-btn{
        position: fixed;
        left: 0;
        bottom: 74px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 26px;
        padding-right: 26px;
        font-size: 30px;
        line-height: 43px;
        text-align: center;
        button:after{
            border: none;
        }
        .person-record-resave{
            margin: 0;
            padding: 0 31px;
            background-color: #F0F0F0;
            color: #666666;
        }
        .person-record-save{
            margin: 0;
            padding: 0 70px;
            background-color: #0099FF;
            color: #fff;
            border: none;
        }
    }
    .person-record-work{
        .work-amount{
            margin-left: 40px;
            margin-top: 54px;
            padding-bottom: 54px;
            display: flex;
            align-items: baseline;
            border-bottom: 5px solid #E5E5E5;
        }
        .work-amount.input-active{
            border-bottom: 5px solid #0099FF;
        } 
        .work-amount-text{
            width: 110px;
            font-weight: 600;
            font-size: 32px;
            color: #666666;
        }
        .work-amount-input{
            display: inline-block;
            height: auto;
            font-weight: 600;
            font-size: 66px;
            color: #333333;
        }
        .unit-icon{
            position: absolute;
            width: 40px;
            height: 40px;
            right: 0;
            top: 50%;
            margin-top: -20px;
            transform: scale(1.5);
        }
        .unit-icon:after{
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            border-left: 2px solid #808080;
            border-bottom: 2px solid #808080;
            -webkit-transform: translate(0,-50%) rotate(-135deg);
            transform: translate(0,-50%) rotate(-135deg);
        }
    }
}