.person-record-worktime{
    display: flex;
    align-items: center;
    margin-top: 40px; 
    .worktime-text{
        font-weight: 600;
        font-size: 30px;
        color: #666666;
        margin-right: 26px;
    }
    .worktime{
        width: 120px;
        margin-right: 18px;
        color: #808080;
        font-size: 26px;
        line-height: 60px;
        text-align: center;
        background-color: #EDEDED;
        border-radius: 6px;
    }
    .worktime-active{
        color: #FFFFFF;
        background-color: #0099FF;
    }
    .worktime-select{
      min-width: 120px;
      width: auto;
      max-width: 140px;
    }
    .worktime-select-time{
        margin-right: 20px;
        position: relative;
    }
    .worktime-select-time::before{
        content: '';
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom: 8px solid #666666;
        position: absolute;
        bottom: 50%;
        right: -20px;
        margin-top: 4px;
    }
    .worktime-select-time::after{
        content: '';
        width: 0;
        height: 0;
        margin-top: 4px;
        border: 8px solid transparent;
        border-top: 8px solid #666666;
        position: absolute;
        top: 50%;
        right: -20px;
    }
    .worktime-active .worktime-select-time::before{
        border-bottom-color: #fff;
    }
    .worktime-active .worktime-select-time::after{
        border-top-color: #fff;
    }
}
.overtime-text{
  margin-top: 40px;
  margin-right: 40px;
}
.person-record-overtime{
    position: relative;
    .overtime-icon{
        transform: scale(1.5);
        width: 22px;
        height: 22px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -11px;
    }
    .overtime-icon::before,
    .overtime-icon::after{
        content: "";
        position: absolute;
        height: 22px;
        width: 1.5px;
        top: 2px;
        right: 12px;
        background: #808080;
    }
    .overtime-icon::before{
      transform: rotate(45deg);
    }
    .overtime-icon::after{
      transform: rotate(-45deg);
    }
}