.person-record-btn{
    position: fixed;
    left: 0;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 30px;
    text-align: center;
    button:after{
        border: none;
    }
    .person-record-save{
        width: 710px;
        margin: 0;
        padding: 0 70px;
        background-color: #0099FF;
        color: #fff;
        border: none;
    }
}